@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
}

:root {
  /* Primary */
  --color-navy-800: hsl(219, 30%, 18%); /* testimonials background */
  --color-navy-850: hsl(217, 28%, 15%); /* intro and email sign up background */
  --color-navy-900: hsl(218, 28%, 13%); /* main background */
  --color-navy-950: hsl(216, 53%, 9%); /* footer background */

  /* Accent */
  --color-teal-200: hsl(176, 68%, 64%); /* CTA gradient */
  --color-cyan-500: hsl(198, 60%, 50%); /* CTA gradient */
  --color-red-500: hsl(0, 100%, 63%); /* error */

  /* Neutral */
  --color-white: hsl(0, 0%, 100%);

  /* Font Families */
  --font-heading: "Raleway", sans-serif;
  --font-body: "Open Sans", sans-serif;

  /* Font Weights */
  --font-weight-regular: 400;
  --font-weight-bold: 700;
}

body {
  background-color: var(--color-navy-850);
  font-family: "Open Sans", sans-serif;
  color: var(--color-white);
  font-size: 0.875rem;
}

.nav,
.hero__title {
  font-family: var(--font-heading);
}

.container {
  /* padding: 0 8vw; */
}

.header {
  padding: 24px 8vw;
}

.header,
.nav__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo {
  width: 100px;
  height: auto;
}

.nav__list {
  list-style: none;
  gap: 2vw;
}

.nav__link {
  text-decoration: none;
  color: var(--color-white);
}

.hero__section {
  /* position: relative; */
}

.hero__image-wrapper {
  padding: 5vh 8vw 0;
  background-image: url("/public/images/bg-curvy-mobile.svg");
  background-repeat: no-repeat;
  background-position: bottom;
  /* background-size: cover; */
}

.hero__image {
  width: 100%;
  height: auto;
  padding-bottom: 14vh;
  /* position: relative; */
}

.hero__content {
  background-color: var(--color-navy-900);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 5vw;
  /* width: 80%; */
  padding-bottom: 48px;
}

.hero__title {
  margin-top: -70px;
  text-align: center;
  font-size: 24px;
  line-height: 1.5;
}

.hero__description {
  line-height: 1.5;
  text-align: center;
  margin: 16px 0;
}

.btn-cta {
  background-image: linear-gradient(
    to right,
    var(--color-teal-200),
    var(--color-cyan-500)
  );
  padding: 16px;
  width: 60%;
  border: none;
  border-radius: 25px;
  color: inherit;
  font-weight: var(--font-weight-bold);
  margin: 16px auto;
}

@media (min-width: 768px) {
  .hero__image-wrapper {
    background-image: url("/public/images/bg-curvy-desktop.svg");
    background-size: 100% auto;
    display: flex;
    /* height: 100vh */
  }

  .hero__image {
    width: 50%;
    margin: 0 auto;
    padding-bottom: 40vw;
  }

  .hero__content {
    position: relative;
  }

  .hero__title,
  .hero__description {
    position: absolute;
    top: -410px;
  }

  .hero__title {
    font-size: 36px;
    width: 50vw;
  }

  .hero__description {
    font-size: 18px;
    width: 40vw;
    margin: 50px 0;
  }

  .btn-cta {
    font-size: 18px;
    width: 25%;
    border-radius: 35px;
    padding: 25px 0;
    position: absolute;
    top: -260px;
  }
}
